// TEXT
$text-primary: #333333;
$text-secondary: #4e4e4e;
$text-contrast: #ffffff;
$text-success: #4caf50;
$text-brand: #fc8507;
$text-tertiary: #8c8c8c;
$text-disabled: #afafaf;

// TOAST
$toast-success: #4caf50;
$toast-warning: #ff9800;
$toast-error: #ff5c52;

// BACKGROUND
$background-primary: #f7f7f7;
$background-secondary: #ffffff;
$background-date-range: #fff7dab2;
$background-success-light: #ebffed;
$background-disabled: #f2f2f2;
$background-primary-btn: linear-gradient(90deg, #fc8507, #ffa218);

// BORDER
$border-light: #eeeeee;
$border-dark: #434242;
$border-brand: #fc8507;
$border-error: #ff5c52;
$stroke-border: #d9d9d9;

// ICON
$icon-primary: #a7a5a5;

// OTHER
$brand-dark: #fc8507;

// Знаю что сюда ещё надо было вносить spacing и размеры шрифтов, делать миксины для шрифтов, обводку, границы но времени нет.
// Потому в компонентах просто пиксели используются, если успею переделаю