// TEXT
$text-primary: #333333;
$text-secondary: #4E4E4E;
$text-contrast: #FFFFFF;
$text-success: #4caf50; 
$text-brand: #FC8507;
$text-tertiary: #8C8C8C;
$text-disabled: #AFAFAF;

// TOAST
$toast-success: #4caf50; 
$toast-warning: #ff9800;
$toast-error:   #FF5C52;

// BACKGROUND
$background-primary: #F7F7F7;
$background-secondary: #FFFFFF;
$background-date-range: #FFF7DAB2;
$background-success-light: #EBFFED;
$background-disabled: #F2F2F2;
$background-primary-btn: linear-gradient(90deg, #FC8507, #FFA218);


// BORDER
$border-light: #EEEEEE;
$border-dark: #434242;
$border-brand: #FC8507;
$border-error: #FF5C52;
$stroke-border: #D9D9D9;

// ICON
$icon-primary: #A7A5A5;

// OTHER
$brand-dark: #FC8507;